.CanvasContainer {
    padding: 0px;
}

/* portrait mode */
@media (min-width: 500) and (min-height: 400px) {
    .CanvasContainer {
        width: 350px;
        height: 300px;
    }
}

/* @media (min-width: 500px) and (min-height: 401px) {
    .CanvasContainer {
        width: 450px;
        height: 400px;
    }
} */

@media (min-width: 1000px) and (min-height: 700px) {
    .CanvasContainer {
        width: 100%;
        height: 600px;
    }
}